In [1]:
#This program shall use tensorflow for housing prices.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [21]:
#step 1: Load Data
dataframe = pd.read_csv("housing_data.csv")
dataframe = dataframe.drop(["index", "price", "sq_price"], axis=1) 
dataframe = dataframe[0:10] 
dataframe

     area  bathrooms
0  2104.0        3.0
1  1600.0        3.0
2  2400.0        3.0
3  1416.0        2.0
4  3000.0        4.0
5  1985.0        4.0
6  1534.0        3.0
7  1427.0        3.0
8  1380.0        3.0
9  1494.0        3.0

In [22]:
dataframe.loc[:, ("y1")] = [1, 1, 1, 0, 0, 1, 0, 1, 1, 1] # This is our friend's list of which houses she liked

In [25]:
dataframe.loc[:, ("y2")] = dataframe["y1"] == 0           
dataframe.loc[:, ("y2")] = dataframe["y2"].astype(int)

In [26]:
dataframe

     area  bathrooms  y1  y2
0  2104.0        3.0   1   0
1  1600.0        3.0   1   0
2  2400.0        3.0   1   0
3  1416.0        2.0   0   1
4  3000.0        4.0   0   1
5  1985.0        4.0   1   0
6  1534.0        3.0   0   1
7  1427.0        3.0   1   0
8  1380.0        3.0   1   0
9  1494.0        3.0   1   0

In [28]:
inputx = dataframe.loc[:, ['area', 'bathrooms']].as_matrix()
inputy = dataframe.loc[:, ["y1", "y2"]].as_matrix()

In [29]:
inputx

array([[  2.10400000e+03,   3.00000000e+00],
       [  1.60000000e+03,   3.00000000e+00],
       [  2.40000000e+03,   3.00000000e+00],
       [  1.41600000e+03,   2.00000000e+00],
       [  3.00000000e+03,   4.00000000e+00],
       [  1.98500000e+03,   4.00000000e+00],
       [  1.53400000e+03,   3.00000000e+00],
       [  1.42700000e+03,   3.00000000e+00],
       [  1.38000000e+03,   3.00000000e+00],
       [  1.49400000e+03,   3.00000000e+00]])

In [30]:
learning_rate = 0.00001
training_epoch = 2000
display_step = 50
n_samples = inputy.size

In [31]:
x = tf.placeholder(tf.float32, [None, 2])
W = tf.Variable(tf.zeros([2, 2]))
b = tf.Variable(tf.zeros([2]))

ys= tf.add(tf.matmul(x, W), b)
y = tf.nn.softmax(ys)

y_ = tf.placeholder(tf.float32, [None, 2])

In [32]:
#costfunction, using mean sqrd err
cost = tf.reduce_sum(tf.pow(y_ - y, 2))/(n_samples)

#Gradient descent
optimiser = tf.train.GradientDescentOptimizer(learning_rate).minimize(cost)

In [37]:
#initialise variables and session
init = tf.global_variables_initializer()
sess = tf.Session()
sess.run(init)

In [41]:
#training

for i in range(training_epoch):
    #Below takes a Gradient Descent step.
    sess.run(optimiser, feed_dict = {x: inputx, y_:inputy})
    #Thats it.
    
    if (i) % display_step == 0:
        cc = sess.run(cost, feed_dict = {x: inputx, y_:inputy})
        print ("Training Step:", '%04d'%(i), "Cost:", "{:.9f}".format(cc))

print ("Optimisation Finito!")
training_cost = sess.run(cost, feed_dict = {x: inputx, y_:inputy})
print ("Training Cost = ", training_cost, "W = ", sess.run(W), "b = ", sess.run(b), '\n')

Training Step: 0000 Cost: 0.134503588
Training Step: 0050 Cost: 0.112963296
Training Step: 0100 Cost: 0.112963341
Training Step: 0150 Cost: 0.112963364
Training Step: 0200 Cost: 0.112963364
Training Step: 0250 Cost: 0.112963393
Training Step: 0300 Cost: 0.112963438
Training Step: 0350 Cost: 0.112963483
Training Step: 0400 Cost: 0.112963483
Training Step: 0450 Cost: 0.112963513
Training Step: 0500 Cost: 0.112963557
Training Step: 0550 Cost: 0.112963572
Training Step: 0600 Cost: 0.112963602
Training Step: 0650 Cost: 0.112963632
Training Step: 0700 Cost: 0.112963654
Training Step: 0750 Cost: 0.112963699
Training Step: 0800 Cost: 0.112963714
Training Step: 0850 Cost: 0.112963721
Training Step: 0900 Cost: 0.112963758
Training Step: 0950 Cost: 0.112963796
Training Step: 1000 Cost: 0.112963811
Training Step: 1050 Cost: 0.112963840
Training Step: 1100 Cost: 0.112963870
Training Step: 1150 Cost: 0.112963893
Training Step: 1200 Cost: 0.112963915
Training Step: 1250 Cost: 0.112963937
Training Step: 1300 Cost: 0.112963960
Training Step: 1350 Cost: 0.112964012
Training Step: 1400 Cost: 0.112964019
Training Step: 1450 Cost: 0.112964056
Training Step: 1500 Cost: 0.112964079
Training Step: 1550 Cost: 0.112964109
Training Step: 1600 Cost: 0.112964131
Training Step: 1650 Cost: 0.112964153
Training Step: 1700 Cost: 0.112964176
Training Step: 1750 Cost: 0.112964213
Training Step: 1800 Cost: 0.112964235
Training Step: 1850 Cost: 0.112964250
Training Step: 1900 Cost: 0.112964287
Training Step: 1950 Cost: 0.112964317
Optimisation Finito!
Training Cost =  0.110957 W =  [[ 0.00014077 -0.00014077]
 [ 0.00045578 -0.00045578]] b =  [  9.51521506e-05  -9.51521361e-05]